.nfts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 850px;
    width: 100%;
}

.cards{
    display: flex;
    gap: 43px;
}

.nfts h2{
    font-size: 100px;
    font-weight: 800;
    line-height: 123px;
    letter-spacing: 0em;
    text-align: left;
    background: linear-gradient(96.39deg, #1C1C1C -9.54%, #FFFFFF 49.6%, #303030 105.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@media (max-width: 1400px) { 
    .nfts h2{
        font-size: 80px;
    }

    .nfts{
        height: 700px;
    }

    .card-footer--property {
        margin-left: -30px;
        gap: 10px;
    }

    .card-footer--table p {
        font-size: 16px;
    }

    .cards {
        gap: 20px;
        
    }
}


@media (max-width: 992px) {

    .nfts{
        height: 1100px;
    }

    .cards {
        flex-wrap: wrap;
        justify-content: center;
    }
    
}

@media (max-width: 768px) {
    .nfts{
        height: 2200px;
    }

    .nfts h2 {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .nfts{
        height: 1900px;
        justify-content: center;
        margin-top: 50px;
    }

    .nfts h2{
        font-size: 3em;
    }
}